myenv/
django/django_project/app/
django/django_project/myapp/migrations/
jobs/neosoft.log
jobs/__pycache__/
shark/temp.csv
django/
python/
fastapi/eavhdi/
jobs/cybercorp.py
jobs/cybercorp.txt
jobs/mite/
jobs/thinkbar.py
jobs/thinkbar.txt
react/

