{% extends 'base.html' %}

{% block content %}
<div class="otp-container">
    <h2>OTP Verification</h2>
    <center>
        <h3 id="msg">{{msg}}</h3>
    </center>
    <!-- Entire content enclosed in a form tag -->
    <form action="{% url 'otpverify' %}" method="post">
        {% csrf_token %}
        <label for="user-email">Your Email</label>
        <input type="email" id="user-email" name="user-email" value="{{email}}" readonly>

        <label for="otp">Enter Your OTP</label>
        <input type="text" id="otp" name="otp" required>

        <button type="submit">Verify</button>
    </form>

    <p class="info-message">Didn't receive OTP? <a href="#">Resend OTP</a></p>
</div>

{% endblock %}