{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Kalpesh Shinde</title>
</head>

<body>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body border border-primary" id="profile-wraper">
                    <img id="profile-pic" src="{% static 'images/mypic.png' %}" alt="">
                    <hr>
                    <center>
                        <h4>Kalpesh Shinde</h4>
                        <p> Mumbai, Maharashtra 400089 <br>
                            <a href="#">kalpesh4111993@gmail.com</a> <br>
                            +919769973766
                        </p>
                    </center>
                    <hr>
                    <h3>What i Know</h3>
                    <p>
                        • Python Programming <br>
                        • Django <br>
                        • Flask <br>
                        • Git <br>
                        • MySQL
                    </p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body border border-success h-100">
                    <h3>Summary</h3>
                    <p>
                        Experienced Software Developer skilled in coding, debugging, and project management,
                        specializing in
                        database management, dynamic website development, and backend integration with MQTT and Flask.
                        Dedicated to ensuring project integrity on GitHub and optimizing code efficiency, especially
                        with PySpark
                        for contests
                    </p>
                    <br>
                    <hr>
                    <h3> Education</h3>
                    <p>
                        <strong>B.E in Electronic</strong> <br>
                        K. C. College of Engineering And Management Studies And Research - Mumbai, Maharashtra
                    </p>
                    <br>

                    <hr>
                    <h3>Personal Details</h3>
                    <p><strong>Date of Birth</strong>: 1993-11-04</p>
                    <p><strong>Highest Career Level</strong>: 2-5 years experience</p>
                    <p><strong>Industry</strong>: Software Development</p>
                    <p><strong>Total years of experience</strong>: 4</p>

                </div>
            </div>
        </div>
        <center><h3>Work Experience</h3></center>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card card-body border border-danger">
                    <h4>Software Development Engineer</h4>

                    <p> <u>PlayerzPot Media Pvt Ltd</u>-Navi Mumbai, Maharashtra <br>
                        Full-time <br>
                        0-7 days notice period <br>
                        March 2024 to September 2024</p>
                    <p>
                        • Testing and debugging the code by using terminus. <br>
                        • Checking if all matches are running correctly.<br>
                        • Checking that all refunds are being paid correctly.<br>
                        • Monitoring that storage memory required for emr job execution.<br>
                        • Working on contest cancellation.<br>
                        • Creating a script that sends emails in case of any missing data and refunds
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body border border-warning h-100">
                    <h4> Software Developer</h4>

                    <p> <u>Evoluzn India PVT. LTD</u>.-Nagpur, Maharashtra <br>
                        Full-time <br>
                        August 2021 to March 2024</p>
                    <p>
                        • Responsible to make Dynamic Website <br>
                        • Integrating Front-end with Back-end <br>
                        • Work on Flask Python <br>
                        • Generating and Verify logs for debug as a Tester
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card card-body border-info h-100">
                    <h4> Python Trainer & Developer</h4>

                    <p> <u>Maxgen Technologies Pvt. Ltd</u>-Navi Mumbai, Maharashtra
                        <br>
                        Full-time <br>
                        November 2020 to May 2021
                    </p>
                    <p>
                        • Working as a Python and Django instructor.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body border border-dark">
                    <h4> PHP Software Developer</h4>

                    <p> <u>Techathalon Software Solutions Pvt.ltd</u>-Mumbai, Maharashtra
                        <br>
                        Full-time <br>
                        January 2020 to June 2020
                    </p>
                    <p>
                        • Basic Of Laravel That Is CRUD Operation <br>
                        • Basic Web Site Using PHP
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>