<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Like Post App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    {{posts}}
    <p id="message"></p>
    {% for post in post %}
    <h3>{{ forloop.counter }} {{ post.post_heading }} </h3>
    <p>{{ post.post_text }}</p>
    <a class="likebutton" href="#" id="like{{post.id}}" data-catid="{{ post.id}}">Like</a>
    {% endfor %}
</body>
</html>